name: Docker Update Images CI

on:
  push:
    branches:
      - main

jobs:
  update_python_component:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Python image
        run: |
          docker build -t myflask .
          docker tag myflask happy0106/flask_bmi_image
          docker push happy0106/flask_bmi_image

  update_mysql_component:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push MySQL image
        run: |
          docker build -t my_mysql_image .
          docker tag my_mysql_image happy0106/mysql_bmi_image
          docker push happy0106/mysql_bmi_image

# name: Docker Update Images CI

# on:
#   push:
#     branches:
#       - main

# jobs:
#   update_python_component:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2

#       - name: Build and push Python image
#         run: |
#           docker build -t myflask .
#           docker tag myflask happy0106/flask_bmi_image
#           docker push happy0106/flask_bmi_image

#   update_mysql_component:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2

#       - name: Docker Login
#         uses: docker/login-action@v2
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build and push MySQL image
#         run: |
#           docker build -t my_mysql_image .
#           docker tag my_mysql_image happy0106/mysql_bmi_image
#           docker push happy0106/mysql_bmi_image
